<div class="mainwindow" style="width:1400px">
        <div class="header_color flexorientation--spaceb">
            <h2>Mensagens Enviadas</h2>
            <div>
                <select id="typeofsearch" style="font-size: 12px; padding: 3px 0px 3px 3px; border-radius: 4px;">
                    <option value="title">Titulo</option>
                    <option value="process_title">Processo</option>                    
                </select>
                <div class="bodyguides search_message">
                    <input type="text" id="search">
                    <img id="searchimage" src="/img/lupa2.png">
                </div>
            </div>
        </div> 
    <div class="content_window">
        <div class="flexorientation--start">
            <div class="messenger_header">
                <label>Titulo:</label>
            </div>
            <div class="messenger_header">
                <label>Processo:</label>
            </div>
            <div class="messenger_header">
                <label>Destinatário:</label>
            </div>
            <div class="messenger_header">
                <label>Data:</label>
            </div>
        </div>
        <hr>
        <div id="maincontainer">
            <div id="handlemessage">
                {{#if messages}}
                {{#each messages}}
                <a href="/mensageiro/enviadas/{{_id}}" class="message_style">           
                    <div class="flexorientation--spaceb list_iten">
                        <div class="messenger_body">
                            <label>{{title}}</label>
                        </div>
                        <div class="messenger_body">
                            <label>{{process_title}}</label>
                        </div>
                        <div class="messenger_body">
                            <label>{{section_receiver.name}} {{receiver.pg}} {{receiver.name}}</label>
                        </div>
                        <div class="messenger_body">
                            <label>{{date}}</label>
                        </div>
                        <form method="POST" action="/mensageiro/enviadas/{{_id}}/delete">
                            <button class="redbutton" style="margin-top: 0px; margin-left: 20px;"><img src="/img/trash.png" style="height: 16px;"></button>               
                        </form>
                    </div>
                </a>
                {{/each}}
                {{/if}}
            </div>
            <div class="flexorientation--spaceb" id="handlearrows">
                <div class="arrow_disabled" id="handleback">
                    <a id="handlebacklink"><img src="/img/seta2.png" style="height: 20px; width: 20px;"></a>
                </div>
                <p id="handleindex"></p>
                <div class="arrow_disabled" id="handlenext">
                    <a id="handlenextlink"><img src="/img/seta.png" style="height: 20px; width: 20px;"></a>
                </div>
            </div>            
        </div>                         
    </div>   
</div>
<script type="module" src="/js/messenger/messageBox.js"></script>
<script>
     const index = document.getElementById('handleindex');    
    const count = '{{count}}'
    const back = document.getElementById('handleback');
    const next = document.getElementById('handlenext');
    const backLink = document.getElementById('handlebacklink');
    const nextLink = document.getElementById('handlenextlink');
    const messages = 15;

    index.innerHTML = parseInt('{{index}}') + 1;
    index.setAttribute('style', 'margin-top: 35px')  

    if(index.innerHTML > 1){
        back.setAttribute('class', 'arrow')
        backLink.setAttribute('href', `/mensageiro/enviadas${String(index.innerHTML -2).padStart(3, 0)}`);
    }
    
    if(count - (index.innerHTML * messages) > 0){
        next.setAttribute('class', 'arrow');
        nextLink.setAttribute('href', `/mensageiro/enviadas${index.innerHTML.padStart(3, 0)}`);
    }
</script>