<div class="mainwindow">
    <form class="content_window" id="formm" method="POST">
        <h2>Nova Mensagem</h2>
        <hr>
        <div class="flexorientation--start">
            <div>
                <label>Titulo:</label>
                <input type="text" name="title">
            </div>
             <div class="flexorientation--start">
                <div>
                    <label>Destinatário:</label>
                    <select name="messagesection" id="messagesection">
                        <option value="0"> </option>
                        <option value="Orçamentação">Orçamentação</option>
                        <option value="DPGOT">DPGOT</option>
                        <option value="Fiscal ADM">Fiscal ADM</option>                        
                        <option value="Chefe da SALC">Chefe da SALC</option>
                        <option value="Armamento Pesado">Armamento Pesado</option>
                        <option value="Armamento Leve">Armamento Leve</option>
                        <option value="Linha de Blindados">Linha de Blindados</option>
                        {{#if (compareValue section 'Chefe da SALC')}}
                        <option value="">SALC</option>
                        {{/if}}                 
                    </select>
                    
                </div>
                <div id="receiver" style="margin-left: 10px;">
                </div>
            </div>
        </div>
        <textarea class="param_text" name="content" style="height: 500px;"></textarea>
        <div style="margin-top: 10px;">
            <label>Processo:</label>
            <select name="year" id="year">
                <option value="{{processYear}}">{{processYear}}</option>                
            </select>            
            <select name="process" id="process"> 
                <option value="{{processId}}" id="{{processId}}">{{processTitle}}</option>              
            </select>            
        </div>
        <div>
            <input type="submit" class="button" value="Enviar" id="submitformm">
        </div>               
    </form>   
</div>
<script src="/js/messenger/newMessage.js"></script>




