<div class="mainwindow">
    <div class="content_window">        
        <div class="flexorientation--spaceb">            
            <h2>{{process.title}}</h2>
            <small>{{process.date}}</small>
        </div>        
        <hr>       
        <div id="list" class="process_list">
            {{#if documents}}
            {{else}}
            <p>Não existem documentos dentro deste processo.</p>
            {{/if}}
        </div>
        {{#if (compareValue 'Chefe da SALC' section)}}
                <form id="endprocess" class="bar_color flexorientation--end">
                    <a href="/conversor/{{process.year}}/{{process.user_dir}}/inProcess" class="button">Juntar em um PDF</a>                    
                    <input type="submit" class="button" value="Concluir Processo">
                </form>                
        {{/if}}
        {{#if (compareValue 'SALC' section)}}
                <form id="endprocess" class="bar_color flexorientation--end">
                    <a href="/conversor/{{process.year}}/{{process.user_dir}}/inProcess" class="button">Juntar em um PDF</a>                    
                    <input type="submit" class="button" value="Concluir Processo">
                </form>                
        {{/if}}
       <!-- <div class="bar_color" style="padding-top: 20px; background-color:dimgrey; margin-bottom: -20px;"> -->                
            <div class="display-float-right">
                <small>Status</small>
                <button class="button" id="statusbutton">+</button>
            </div>
            <div id="states">            
            </div>            
            <form id="upload">
                <label for="file" class="button_file" id="button_file">Upload</label>
                <input type="file" id="file" name="file" value="" required>
                <span id="filename"></span required>            
            </form>
            <div>
                
            </div>
            <br>
            <p id="message"></p>
            {{#if error}}        
            <p style="color:red">{{error}}</p>        
            {{/if}}
            <div class="flexorientation--spaceb">
                <div class="arrow">
                    <a href="/meusprocessos"><img src="/img/seta2.png" style="height: 20px; width: 20px;"></a>
                </div>
                <form id="sendprocess">
                </form>
            </div>
        <!--</div> -->
    </div>
</div>


<script src="/js/document_reader/readerFile.js"></script>
<script>  
    const list = document.getElementById('list');    
    const names = [];
    let states = [];
    const transfer =  '{{process.transfer_dir}}' || null;
    const done = '{{process.done_dir}}' || null    
    '{{#each documents}}'
    names.push({
        name:'{{name}}'        
        });        
    '{{/each}}'

    '{{#if states}}'
    '{{#each states}}'
    states.push({
        id: '{{_id}}',
        state: '{{state}}',
        anotation: '{{anotation}}',
        date: '{{date}}'
    });    
    '{{/each}}'
    '{{/if}}'
     
    listReader(list, names, `/meusprocessos/{{process.year}}/{{process.user_dir}}/`, transfer, done);
    listStates(states, '{{process.title}}', `/meusprocessos/{{process.year}}/{{process.user_dir}}/`, '{{process._id}}', transfer, done);
    upload('inProcess', `/meusprocessos/{{process.year}}/{{process.user_dir}}/`, transfer , done);
    sendProcess('{{process._id}}', '{{process.title}}', '{{process.year}}', transfer, done);
</script> 
